<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.indiegeeker.flutter_app_updater">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.huawei.appmarket" />
        <package android:name="com.hihonor.appmarket" />
        <package android:name="com.xiaomi.market" />
        <package android:name="com.oppo.market" />
        <package android:name="com.bbk.appstore" />
        <package android:name="com.meizu.mstore" />
        <package android:name="com.tencent.android.qqdownloader" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="market" />
        </intent>
    </queries>

    <application android:enableOnBackInvokedCallback="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
